h1 {
    font-size: 2.5em;
    color: blue;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e9edee;
}
p {
    font-size: 1em;
    line-height: 1.5;
    color: #d809a5;
}
#intro {
    color:blue;

} 
#para{
    color:blueviolet;
}