h1 {
    font-size: 2.5em;
    color: blue;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e9edee;
    margin: 20px
}
p {
    font-size: 1em;
    line-height: 1.5;
    color: #9705f8;
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: #cdb7b7;
    border: 1px solid #e80a0a;
    padding: 30px;
    margin: 20px;
    box-sizing:border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#intro {
    color:blue;
    background-color:bisque;

} 
#para{
    color:blueviolet;
     border: 1px solid black;
}
.css {
    color: green;
}
div>p{
    color:#e80a0a
}
html     { font-size: 16px; }   /* root */
.parent  { font-size: 20px; }

.em-text  { font-size: 2em; }   /* 2 × 20px (parent) = 40px */
.rem-text { font-size: 2rem; }  /* 2 × 16px (root)   = 32px */